<div class="container tweet-container">
  <div class="container tweet-author">
    <!-- @tweet.author.name -->
  </div>
  <div class="container tweet-content">
    <%= @tweet.content %>
  </div>
  <div class="container tweet-info">
    <span> <%= @tweet.created_at %> </span>
  </div>
</div>
