<header>
  <div class="container header-container">
    <div class="container header-logo">
      <h1>Logo!</h1>
    </div>
    <div class="container header-navigation">
      <div class="container nav-item">
        <h2>Log In</h2>
      </div>
      <div class="container nav-item">
        <%= link_to "Register", new_user_path %>
      </div>
    </div>
  </div>
</header>
