body {
  background-color: #f0f5ff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  /* flex-direction: column; */
}

.site-container {
  width: 1048px;
  margin: auto;
}

/* header */
.header-container {
  align-items: center;
  height: 50px;
  width: 100%;
  background: #81b4e3;
}


.header-logo {
  width: 20%;
  text-align: center;
}

.header-logo > h1, a {
  margin: auto;
  font-size: 24px;
}

.header-navigation {
  width: 80%;
  justify-content: right;
}

.nav-item {
  align-items: center;
  width: 20%;
  font-size: 36px;
}

.image {
  max-width: 100%;
  border-radius: 25px;
  border: 1px solid slategrey;
}
