// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stream {
  width: 600px;
  padding: 5px;
  margin: 0px 5px;
}

.tweet-container {
  width: 600px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  background-color: #fafcff;
}

.new-tweet-container {
  background-color: #fafcff;
  padding: 10px;
  margin-top: 5px;  
}

.tweet-header {
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

.tweet-user-image-container {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.tweet-author {

}

.tweet-content {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.tweet-info {
  width: 100%;
  padding: 10px;
}
