// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile-container {
  flex-direction: column;
  width: 250px;
  padding: 5px;
  margin: 5px 5px;
  background: #fafcff;
}

.user-image {
  align-items: center;
  width: 100%;
}

.user-name {
  width: 100%;
  margin-bottom: 20px;
}

.user-name > h1 {
  font-size: 24px;
  font-weight: bold;
}

.user-bio {
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
}

.user-followers {
  width: 100%;
  margin-bottom: 20px;
}

.profile-image {
  margin: 20px auto;
  height: 200px;
  width: 200px;
}

.image-small {
  height: 200px;
  width: 200px;
}
